.btn {
    color: $white;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    &:hover, &:focus, &:active {
        color: $white;
        outline: 0 !important;
        outline-offset: 0  !important;
        -webkit-box-shadow: none !important;
        box-shadow: none  !important;
    }
}

.btn-primary {
    background-color: $orange;
    border-color: $orange;
    &:hover, &:focus, &:active {
        background-color: $lightorange !important;
        border-color: $lightorange !important;
    }
}

.btn-brown {
    background-color: $brown;
    border-color: $brown;
    &:hover, &:focus, &:active {
        background-color: $lightbrown !important;
        border-color: $lightbrown !important;
    }
}
