@font-face {
    font-family: "Futura";
    src: url("fonts/Futura Std Book.eot");
    src: url("fonts/Futura Std Book.eot?#iefix") format('embedded-opentype'),
         url("fonts/Futura Std Book.woff2") format('woff2'),
         url("fonts/Futura Std Book.woff") format('woff'),
         url("fonts/Futura Std Book.ttf") format('truetype');
}

@font-face {
    font-family: "Futura Bold";
    src: url("fonts/FuturaStd Bold.eot");
    src: url("fonts/FuturaStd Bold.eot?#iefix") format('embedded-opentype'),
         url("fonts/FuturaStd Bold.woff2") format('woff2'),
         url("fonts/FuturaStd Bold.woff") format('woff'),
         url("fonts/FuturaStd Bold.ttf") format('truetype');
}
