.form-signin {
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: 10rem auto 0;
    .form-title {
        font-size: 2em;
        text-align: center;
        margin-bottom: 2.5rem;
    }
}

.form-otp {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 10rem auto 0;
    .form-otp-title {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .otp-time {
        color: #6D5424;
    }
}

.input-otp {
    display: flex;
    justify-content: space-between;

    input {
        color: #211B14;
        border: 1px solid #d1d3e2;
        background-color: #F7F7F7;
        font-size: 2.5em;
        font-weight: 600;
        line-height: 1.5;
        border-radius: 0.7rem;
        text-align: center;
        vertical-align: middle;
        margin-right: 10px;
        &:focus {
            color: $green;
            border-color: $orange;
            background-color: #F7F7F7;
            box-shadow: 0 0 5px $orange inset;
            outline: 0 !important;
            outline-offset: 0  !important;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
